{
  "name": "browser-remote-playwright",
  "version": "1.0.0",
  "description": "Remote browser automation with Playwright",
  "main": "screenshot.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "keywords": ["playwright", "browser", "automation"],
  "author": "",
  "license": "ISC",
  "dependencies": {
    "playwright": "^1.40.0"
  }
} 